@model IEnumerable<AutomatedOnlineFoodOrdering.Models.CATEGORy>

@{
    ViewBag.Title = "CategoryIndex";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<button class="btn-primary create-btn">
    @Html.ActionLink("Add New Category", "AddCategory")
</button>
@using (Html.BeginForm("CategoryIndex", "Category", FormMethod.Get, new { @style = "color:black;" }))
{

    @Html.TextBox("search")
    <input type="submit" value="Search" />

}
<table class="table">
    <tr>
        <th>ID </th>
        <th>FOOD CATEGORY NAME</th>
        <th>AVAILABLE</th>
        <th>THE DATE IT WAS ADDED</th>
        <th></th>
    </tr>
